@charset "utf-8";
/* CSS Document */
.top-bar{height:50px;line-height:50px}
.top-bar a{color:white}
.top-bar a:hover{color:#000000}
.navbar .navbar-nav .nav-item .nav-link{padding:10px 20px}
.navbar .navbar-nav .nav-item .nav-link:hover {background-color:darksalmon; color:white;border-radius:20px}
.navbar .navbar-nav .nav-item .dropdown-menu {background-color: darksalmon;padding-top:0;padding-bottom:0 }
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{color:black}
.navbar .navbar-nav .nav-item .dropdown-menu li {border: 1px solid black}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {background-color:#1428a0}
main{min-height:500px}
.gach-chan{border-bottom:2px solid white}
footer .navber-nav .nav-item .nav-link:hover{color:#1428a0}
.bottom-bar{height:60px;line-height:60px;background-color:#ffc113}
#service a{text-decoration: none;color:#434343}
#service a:hover{color: #ffc113}
#why{width:100%;min-height:400px;background-image:url("../images/why.jpg");background-repeat:no-repeat;background-size:cover;background-position: center top}
.hinh{width:100%;position:relative}
.before{position:absolute;left:0;top:0;padding:10px;background-color: rgba(255,255,255,0.50)}
.after{position:absolute;top:0;left:50%;padding:10px;background-color: rgba(255,255,255,0.50)}
.banner{position:relative}
.caption{width:100%;text-align:left;position:absolute;top:45%;left:10%
	}
.form{width:150px;height:40px;background:#000000;color:white;border-radius: 20px;border:none;
    cursor: pointer;
    text-transform: uppercase;
     transition: all .3s}
.form:hover{
     background-color:dimgray;
	color: white}
.form2{width:120px;height:40px;background:#ffffff;color:white;border-radius:20px;border:none;
    cursor: pointer;
    text-transform: uppercase;
     transition: all .2s}
.form2:hover{
     background-color:dimgray;
	color: black}

.bo-goc{border-radius:10px}
.img-100{
	width:100%; height: auto
}
.vien{border: 1px solid white;border-radius:8px;padding:8px;position:relative; overflow: hidden}
.icon{width:80%;height:45px;position:absolute;left:10%;top: -15%;display:flex;justify-content:space-around;transition:all 1s}
.icon a{width:45px;heigth:45px;background-color: darkred;border-radius:50%;color:white;display:flex;justify-content:center;align-items:center;text-decoration:none}
.icon a:hover{background-color:darkgray;color:darkred}
.vien:hover .icon{top:40%}
.caption2{width:100%;text-align:center;position:absolute;top:75%
	}
.caption3{width:100%;text-align:center;position:absolute;top:65%
	}
.vien2{background-color:#d3d3d3;border: 1px solid white;border-radius:8px;padding:20px;position:relative;height:550px;}
.caption4{width:90%;text-align:center;position:absolute;top:55%
	}
.menu ul{margin:0 ;padding :0}
.logo{padding-bottom: 20px ;padding-left: 80px}
.menu{ padding-top:20px}
.menu ul li a {padding: 10px 30px; text-decoration: none; color: black}

.menu ul li a:hover{color:#1428a0}
.headd{left:80%}
.header{padding:0px 10px;margin:0px 10px}

.ic a:hover{background-color:rgba(172,172,172,0.60);color: white;border-radius:15px;justify-content:center}
.navbar-brand:hover{backround-color:white;border-radius:10px}
.form-control{padding :8px;width:100%;margin-bottom:10px}
.pt-30{padding-top:30px}
.vien96{border: 1px solid black;border-radius:8px;padding:20px;position:relative}
#slide .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slide .owl-dots .owl-dot span {
width: 12px;height: 12px; }
#slide .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slide .owl-nav [class*='owl-'] {
	font-size:60px; }
#slide .owl-nav .owl-next{ position:absolute; right:5%;}  
#slide .owl-nav .owl-prev{ position:absolute; left: 5%;}
#slide .owl-nav [class*='owl-']:hover {
background:none; border: none;
color:darkred; text-decoration: none; }